@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

.profile_wrap {
    font-family: 'Noto Sans KR', sans-serif;

}

.profile_wrap .profile_arrow img {

    position: relative;
    top: 23px;
}

.profile_wrap .my_emotion {
    margin: 30px 0 50px 0;
    text-align: center;
}

.profile_wrap .my_emotion img {
    width: 100px;
    height: 100px;
}

.profile_wrap .my_emotion p {
    margin-top: 65px;
    font-size: 16px;
    color: #333;

}



.profile_wrap .emotionList {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

.profile_wrap .emotionList p {
    width: 33.3%;
    margin-bottom: 50px;
    text-align: center;
}

.profile_wrap .emotionList p img {
    width: 100px;
    height: 100px;
}

.profile_wrap .emotionList button {

    border-radius: 30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background: #a88f71;
    color: #fff;
    margin-top: 40px;
}